body {
  color: #484848;
  background-color: #fafafa;
  font-size: 18px;
  line-height: 1.4;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}