.credits {
  .circle {
    font-style: normal;
    display: inline-block;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    background-color: $warning-color-darken;
    margin-right: 5px;
  }
  }