.header {
  padding: 35px 0 20px;

  &__wrapper {
    display: flex;
    align-items: center;
  
    .rank-1 {
      display: inline-block;
      margin: 0 20px 0 0;
    }
  }
  
  &__status {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 3px 0;
  
    .progress {
      width: 100%;
      flex: 1 1;
      background-color: #fff;
      border: 1px solid #e1e1e1;
    }
  
    .status-text {
      display: block;
      margin-left: 10px;
      font-size: 0.85rem;

      strong { color: $secondary-color-darken }
    }
  }
}
