.subjects-list {
  list-style: none;
  padding: 10px 0;
  margin: 0;

  &__subject {
    position: relative;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    padding: 8px 12px;

    .tags {
      display: none;

      > * {
        border-right: 1px solid #bdbdbd;
        padding-right: 8px;
        margin-right: 8px;

        &:last-child {
          margin: 0;
          padding: 0;
          border: none;
        }
      }
    }

    &--add {
      padding-left: 52px;
      cursor: pointer;

      .rank-3 { color: $primary-color }

      &:before {
        content: '+';
        text-align: center;
        color: #fff;
        font-size: 2rem;
        display: inline-block;
        width: 40px;
        height: 100%;
        background-color: $primary-color;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &--added {
      padding-left: 20px;

      .credits {
        position: absolute;
        bottom: 8px;
        right: 12px;
      }

      .tags { display: block }

      &:before {
        content: '';
        display: inline-block;
        width: 8px;
        height: 100%;
        background-color: $secondary-color;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  li {
    height: 50px;
    position: relative;
    margin-bottom: 5px;

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1px dashed #e1e1e1;
      display: block;
      content: 'Available Slot';
      border-radius: 5px;
      color: #b6b6b6;
      font-size: 0.85rem;
      padding: 15px 20px;
      background-color: #fff;
      z-index: 1;
    }
  }
}