.header {
  padding: 20px 0;
  margin-bottom: 20px;

  .header__wrapper {
    display: block;
  
    .rank-1 {
      display: block;
      margin: 0 0 10px;
    }
  }
  
  .credits {
    margin-bottom: 10px; 
    display: block;
  }
}
