.header {
  padding: 20px 0 10px;
  margin-bottom: 20px;

  .credits {
    margin-bottom: 10px;
    display: block;
  }

  &__wrapper {
    display: block;
  
    .rank-1 {
      display: block;
      margin: 0 0 10px;
    }
  }
}
